.container{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.container-itens{
    display: flex;
    align-items:center ;
    justify-content: center;
}

input{
    height: 30px;
    width:100% ;
    border-radius:10px ;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
}
input::placeholder{
    color: black;
    padding-left: 10px;
}

button{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}


